.idea/.idea.Public1ty/.idea/encodings.xml
.idea/.idea.Public1ty/.idea/indexLayout.xml
bin/Debug/net6.0-windows/Mono.Cecil.dll
bin/Debug/net6.0-windows/Mono.Cecil.Mdb.dll
bin/Debug/net6.0-windows/Mono.Cecil.Pdb.dll
bin/Debug/net6.0-windows/Mono.Cecil.Rocks.dll
bin/Debug/net6.0-windows/Public1ty.deps.json
bin/Debug/net6.0-windows/Public1ty.dll
bin/Debug/net6.0-windows/Public1ty.exe
bin/Debug/net6.0-windows/Public1ty.pdb
bin/Debug/net6.0-windows/Public1ty.runtimeconfig.json
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/Public1ty.AssemblyInfo.cs
obj/Debug/net6.0-windows/Public1ty.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/Public1ty.assets.cache
obj/Debug/net6.0-windows/Public1ty.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/Public1ty.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/Public1ty.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/Public1ty.csproj.Up2Date
obj/Debug/net6.0-windows/Public1ty.dll
obj/Debug/net6.0-windows/Public1ty.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/Public1ty.genruntimeconfig.cache
obj/Debug/net6.0-windows/Public1ty.pdb
obj/Debug/net6.0-windows/Public1ty.sourcelink.json
obj/Debug/net6.0-windows/ref/Public1ty.dll
obj/Debug/net6.0-windows/refint/Public1ty.dll
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/Public1ty.csproj.nuget.dgspec.json
obj/Public1ty.csproj.nuget.g.props
obj/Public1ty.csproj.nuget.g.targets
obj/rider.project.restore.info
.idea/.idea.Public1ty/.idea/vcs.xml
